<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% csrf_token %}
<div class="container text-center">
<br><br><br><br>
<h3>Your subscription is now active!</h3>
<br><br>
<a class="btn btn-primary text-light" href="{% url 'home' %}">Return Home</a>
<br><br>
<a class="btn btn-danger text-light" href="{% url 'cancel' %}">Cancel Subscription</a>
</div>

{% endblock %}