<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="d-none d-lg-block nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="user-options"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-user fa-lg"></i> My Account
                </div>
            </a>
            <div class="dropdown-menu bg-warning border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Notes Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="" class="dropdown-item">My Notes</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="campaign-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Campaigns
            </a>
            <div class="dropdown-menu bg-warning border-0" aria-labelledby="campaign-link">
                for loop here
                <a href="{% url 'view_notes' %}" class="dropdown-item">Campaign Name</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="collections-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu bg-warning border-0" aria-labelledby="collections-link">
                <a href="" class="dropdown-item">Homebrew Creatures</a>
                <a href="" class="dropdown-item">Homebrew Items</a>
                <a href="" class="dropdown-item">Characters</a>
            </div>
        </li>
    </ul>
</div>