<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Campaign Notes
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <ul class="logo-font font-weight-bold nav-link text-warning mr-5 list-unstyled">
                        {% for doc in documents %}   
                        <li>
                            {{ doc.title }}
                            <a href="{% url 'edit_note' doc.id %}" class="logo-font font-weight-bold text-warning ml-5">
                                <button class="btn btn-warning btn-outline-dark text-light"><i class="fas fa-pen-square"></i></button>
                            </a>
                            <a href="{% url 'delete_note' doc.id %}" class="logo-font font-weight-bold text-warning ml-5 mr-5">
                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </a>
                        </li>
                        {% empty %}
                    <p class="logo-font font-weight-bold text-warning mr-5">No saved notes</p>
                {% endfor %}
                    </ul>
                <a href="{% url 'add_note' %}" class="logo-font font-weight-bold nav-link text-warning mr-5">
                    {% if documents %}
                        <i class="fas fa-file-alt"></i> New note
                    {% else %}
                        <i class="fas fa-file-alt"></i> Start your journey!
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}