<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col logo-font font-weight-bold nav-link text-warning mr-5">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <p>
                            <a href="{% url 'edit_note' doc.id %}" class="logo-font font-weight-bold nav-link text-warning mr-5">
                                <button class="btn btn-warning btn-outline-dark text-light"><i class="fas fa-pen-square"></i></button>
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}