<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for doc in documents %}
        {% if docid == docid %}
            <form method="POST" action="{% url 'notes' %}">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-7 col-md-6 my-auto">
                            <h1 class="display-4 logo-font text-black">
                                {{ doc.title }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <input type="hidden" name="docid" value="{{ docid }}">
                        <div class="form-group">
                            <label for="content" class="text-warning">Content</label>
                            <textarea readonly class="form-control text-black overflow-auto" id="content" placeholder="{{ doc.content }}" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'edit-note' %}?docid={{ doc.id }}" type="submit" class="btn btn-warning text-black">Edit</a>
                            <a href="{% url 'delete-note' %}?docid={{ doc.id }}" type="submit" class="btn btn-danger text-black">Delete</a>
                        </div>
                </div>
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}